/* Add here all your css styles (customizations) */
.select-group select {
  border-color: rgba(214,214,214,0.5);
  color: #969595;
  padding-left: 34px;
}

.panel-profile .logged-out {
  min-height: 172px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-profile .reveal-text {
  padding-left: 5px;
}

.video-wrap {
  position: relative;
  overflow: hidden;
}

.video-wrap video {
  position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}