/* Add here all your css styles (customizations) */
.home-banner {
  background-color: rgba(0,0,0,0.6);
  border-radius: 3px
}

.home-banner .sky-form {
  border: none;
  background: none;
}

.home-banner .sky-form fieldset {
  background: none;
  padding: 0;
}

.home-banner .sky-form .custom-select-container {
  width: 100%;
  position: relative;
  text-align: left;
}
.home-banner .sky-form .custom-select-container .icon-prepend {
  z-index: 2;
}

.home-banner .sky-form .custom-select-container select {
  border: none;
  padding-left: 46px;
  height: 34px;
  background: #fff;
  width: 100%;
}

.home-banner .sky-form .custom-select-container .select2-selection {
  border-radius: 0;
  height: 34px;
}

.home-banner .sky-form .custom-select-container .select2-selection__rendered {
  padding-left: 46px;
}

.home-banner .sky-form section {
  margin: 0;
}

.home-banner .center-pills {
  display: flex;
  justify-content: center;
}

.home-banner .tab-v1 .nav > li {
  margin: 0 20px;
  border-radius: 5px;
  border: 1px solid grey;
}

.home-banner .nav-pills > li > a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.home-banner .header-tab-font {
  font-family: Amiko, Arial, sans-serif;
  font-size: 15px;
}

.profile .profile-bio .block-grid-v1-add-info {
  border: none;
}

.profile .profile-bio .block-grid-v1-add-info li {
  margin-bottom: 0;
}

.select-group select {
  border-color: rgba(214,214,214,0.5);
  color: #969595;
  padding-left: 34px;
}

.panel-profile .logged-out {
  min-height: 172px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-profile .reveal-text {
  padding-left: 5px;
}

.video-wrap {
  position: relative;
  overflow: hidden;
}

.video-wrap video {
  position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.landing-page .subscribe-btn {
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .video-wrap video {
    display: none;
  }
}